[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
tensorflow = "*"
matplotlib = "*"
jupyter = "*"
notebook = "*"
opencv-python = "*"
dlib = "*"
imutils = "*"
pandas = "*"
sklearn = "*"
tensorflow-addons = "*"
intervaltree = ">=3.0.0"
numpy = ">=1.16.2"
scipy = ">=0.17.0"
tabulate = ">=0.5.0"

[requires]
python_version = "3.7"
